<div class="row justify-content-between">
  <div class="col-4">
    <button class="btn btn-primary" *ngIf="!dialogOpened && !windowOpened" (click)="open('dialog')">Create</button>
  </div>
  <div class="col-4">
    <button class="btn btn-success" style="margin-right: 25px;" *ngIf="!participantsDialogOpened && !participantsWindowOpened" (click)="participantsopen('dialog')">View Participants</button>

    <button class="btn btn-danger" *ngIf="isProjectOwner" (click)="deleteProject()">Delete Project</button>
  </div>
</div>

<h4>Issues List</h4>
<hr />
<kendo-grid [kendoGridBinding]="gridData" [pageSize]="10" [pageable]="true" [sortable]="true" [filterable]="true"
            [height]="510">
  <kendo-grid-column field="id" title="Key" [width]="50">
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      <span style="text-decoration: underline;" (click)="OpenIssue(dataItem.id)">{{dataItem.id}}</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="title" title="Title" [width]="120"></kendo-grid-column>
  <kendo-grid-column field="status" title="Status" [width]="50">
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      <span *ngIf="dataItem.status == 0">ToDo</span>
      <span *ngIf="dataItem.status == 1">InProgress</span>
      <span *ngIf="dataItem.status == 2">Done</span>

    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="created" title="Created" [width]="90">
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      <span>{{dataItem.created | date:"medium"}}</span>
    </ng-template>
  </kendo-grid-column>

</kendo-grid>

<kendo-dialog title="Create issue" *ngIf="dialogOpened" (close)="close('dialog')" [minWidth]="250" [width]="450">
  <form [formGroup]="issueForm" (ngSubmit)="onSubmit()">
    <fieldset>

      <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" formControlName="title" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
          <div *ngIf="f.title.errors.required">Issue title is required</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea class="form-control" formControlName="description"
                  [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
          <div *ngIf="f.description.errors.required">Description is required</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Assignee</label>
        <ng-select [items]="AssigneeItems" bindLabel="email" bindValue="id" formControlName="assignee" [ngClass]="{ 'is-invalid': submitted && f.assignee.errors }">
        </ng-select>
        <div *ngIf="submitted && f.assignee.errors" class="invalid-feedback">
          <div *ngIf="f.assignee.errors.required">assignee is required</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Status</label>

        <ng-select [items]="status" bindLabel="text" bindValue="value" formControlName="status" [ngClass]="{ 'is-invalid': submitted && f.assignee.errors }">
        </ng-select>
        <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
          <div *ngIf="f.status.errors.required">status is required</div>
        </div>
      </div>
    </fieldset>

    <kendo-dialog-actions>
      <button kendoButton (click)="close('no')">Cancel</button>
      <button kendoButton type="submit" primary="true">Create</button>
    </kendo-dialog-actions>
  </form>

</kendo-dialog>

<kendo-dialog title="Participant List" *ngIf="participantsDialogOpened" (close)="participantsclose()" [minWidth]="250" [width]="450">

  <form [formGroup]="participantForm" (ngSubmit)="onParticipantsSubmit()">
    <fieldset>

      <div class="mb-3">
        <label class="form-label">Email</label>
        <ng-select [items]="AssigneeItems" bindLabel="email" bindValue="id" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.assignee.errors }">
        </ng-select>
        <div *ngIf="submitted && f.assignee.errors" class="invalid-feedback">
          <div *ngIf="f.assignee.errors.required">assignee is required</div>
        </div>
      </div>
    </fieldset>

    <kendo-dialog-actions>
      <button kendoButton (click)="participantsclose()">Cancel</button>
      <button kendoButton type="submit" primary="true">Create</button>
    </kendo-dialog-actions>
  </form>
  <kendo-grid [kendoGridBinding]="participantGridData" [pageSize]="10" [pageable]="true" [sortable]="true" [filterable]="true"
              [height]="510">
    <kendo-grid-column field="user.email" title="Email" [width]="140"></kendo-grid-column>

  </kendo-grid>
</kendo-dialog>
