<button type="button" [routerLink]="'/create-project'" class="btn btn-primary">Create</button>

<h4>
  All projects
</h4>
<hr/>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" *ngFor="let item of projectLst">
    <a style=" text-decoration: none !important;" routerLink="/project/{{item.key}}/issues">
      <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">{{item.name}}</div>
        <div class="card-body">
          <h5 class="card-title">{{item.created | date}}</h5>
          <p class="card-text">Lead : {{item.user.userName}}</p>
        </div>
      </div>
    </a>
  </div>
</div>


